Repository pci-tamper-protect/e-skimming-labs: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, goimports, go-fmt, go-vet, go-build-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.55.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        types: [file]
        additional_dependencies:
          - eslint@^8.55.0
          - '@eslint/js@^8.55.0'

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: \.(js|jsx|ts|tsx|json|css|scss|html|md|yml|yaml)$
        exclude: ^(test-results/|playwright-report/|node_modules/)

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint
        files: \.go$
        args: [--timeout=5m]

  - repo: local
    hooks:
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: go\.mod$
        pass_filenames: false

      - id: goimports
        name: goimports (remove unused imports)
        entry: bash -c 'if command -v goimports >/dev/null 2>&1; then cd deploy/shared-components/home-index-service && goimports -w . && cd ../seo-service && goimports -w . && cd ../analytics-service && goimports -w .; else echo "goimports not found, skipping import formatting"; fi'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-fmt
        name: go fmt
        entry: go fmt
        language: system
        files: \.go$
        args: [./...]

      - id: go-vet
        name: go vet
        entry: go vet
        language: system
        files: \.go$
        args: [./...]

      - id: go-build-check
        name: go build (check compilation)
        entry: bash -c 'cd deploy/shared-components/home-index-service && go build -o /dev/null . && cd ../seo-service && go build -o /dev/null . && cd ../analytics-service && go build -o /dev/null .'
        language: system
        files: \.go$
        pass_filenames: false

Fix entrypoint error and add tests
  deploy/traefik/TESTING.md
  deploy/traefik/docker-compose.test.yml
  deploy/traefik/test-entrypoint-simple.sh
  deploy/traefik/test-entrypoint.sh
  deploy/traefik/test-output/dynamic/cloudrun-services.yml
  deploy/traefik/test-output/entrypoint-test.sh
  deploy/traefik/test-output/inject-mock.sh
  deploy/traefik/traefik.cloudrun.yml
  verify_traefik_permissions.sh
Due: none

Detect proxy access and use relative URLs for navigation
  deploy/shared-components/home-index-service/main.go
Due: goimports, go-fmt, go-vet, go-build-check

Fix proxy detection to only match port 8081
  deploy/shared-components/home-index-service/DEPLOY_INSTRUCTIONS.md
  deploy/shared-components/home-index-service/deploy-stg-simple.sh
  deploy/shared-components/home-index-service/deploy-stg.sh
  deploy/shared-components/home-index-service/main.go
  deploy/shared-components/home-index-service/test-relative-urls.sh
  deploy/traefik/entrypoint.sh
  deploy/traefik/fix-browser-auth.sh
  deploy/traefik/proxy-traefik-stg.sh
  deploy/traefik/verify-and-fix-iam.sh
  docs/SETUP.md
  docs/STAGING.md
  test/ENVIRONMENT_TESTING.md
Due: goimports, go-fmt, go-vet, go-build-check

Add debug logging and improve proxy detection
  deploy/shared-components/home-index-service/main.go
Due: goimports, go-fmt, go-vet, go-build-check

Fix proxy detection using X-Forwarded-Host from Traefik
  deploy/shared-components/home-index-service/main.go
Due: goimports, go-fmt, go-vet, go-build-check

the real fix! Checks if X-Forwarded-Host contains 'traefik'
  deploy/shared-components/home-index-service/check-proxy-headers.sh
  deploy/shared-components/home-index-service/main.go
  deploy/traefik/entrypoint.sh
Due: goimports, go-fmt, go-vet, go-build-check

modify tests for stg proxy
  .github/workflows/deploy_labs.yml
  docs/STAGING_E2E_PROXY.md
  test/config/test-env.js
Due: none

doc improvements
  .github/workflows/deploy-traefik.yml
  TRAEFIK-IMPLEMENTATION-SUMMARY.md
  deploy/TRAEFIK_ROUTER_SETUP.md
  deploy/secrets/DOTENVX_SUMMARY.md
  deploy/terraform-home/domain-mapping.tf
  deploy/traefik/README.md
  docker-compose.no-traefik.yml
  docker-compose.traefik.yml
  docker-compose.yml
  docs/README-TRAEFIK.md
  docs/SETUP.md
  docs/STAGING.md
  docs/TESTING_TROUBLESHOOTING.md
  docs/TRAEFIK-QUICKSTART.md
  docs/TRAEFIK_ROUTING_DESIGN.md
  docs/traefik-migration-guide.md
  test/playwright.config.js
Due: none

docs reorg
  deploy/traefik/README.md
  docs/README-TRAEFIK.md
  docs/SETUP.md
  docs/TESTING_TROUBLESHOOTING.md
  docs/TRAEFIK-IMPLEMENTATION-SUMMARY.md
  docs/TRAEFIK-QUICKSTART.md
Due: none

add proxying to stg gha deploy_labs.yml
  .github/workflows/deploy_labs.yml
Due: none

fix deploy_labs errors
  .github/workflows/deploy_labs.yml
Due: none

fix test.yml with proxy
  .github/workflows/test.yml
Due: none

fix proxy-port settings
  .github/workflows/deploy_labs.yml
  .github/workflows/test.yml
  test/e2e/mitre-attack-matrix.spec.js
Due: none

set proxy in .env.stg
  .env.stg
  .github/workflows/deploy_labs.yml
  .github/workflows/test.yml
  test/config/test-env.js
  test/e2e/mitre-attack-matrix.spec.js
Due: none

fix url normalization
  test/e2e/mitre-attack-matrix.spec.js
Due: none

fail per shard and fix threat-model
  .github/workflows/deploy_labs.yml
  .github/workflows/test.yml
  test/e2e/threat-model.spec.js
Due: none

normalize url tests
  test/e2e/threat-model.spec.js
Due: none

fix create-or-rotate-service-account-key.sh and .env.stg
  .env.hashes.stg
  .env.hashes.stg.checksum
  .env.prd
  .env.stg
  .env.x
  .github/workflows/deploy_labs.yml
  deploy/README.md
  deploy/deploy-home.sh
  deploy/docker-compose-auth.sh
  deploy/secrets/DOTENVX_CONVERTER_README.md
  deploy/secrets/DOTENVX_SUMMARY.md
  deploy/secrets/SCRIPTS_SUMMARY.md
  deploy/secrets/create-firebase-service-account.sh
  deploy/secrets/create-or-rotate-service-account-key.sh
  deploy/shared-components/home-index-service/auth/middleware.go
  deploy/shared-components/home-index-service/auth/validator.go
  deploy/shared-components/home-index-service/main.go
  deploy/terraform-home/REMOVE_KEYS_FROM_STATE.md
  deploy/terraform-home/cloud-run.tf
  deploy/terraform-home/main.tf
  deploy/terraform-home/outputs.tf
  deploy/terraform-home/remove-keys-from-state.sh
  deploy/terraform-home/service-accounts.tf
  docker-compose.auth.yml
  docker-compose.yml
  docs/DOTENVX_DOCKER_COMPOSE.md
  docs/FIREBASE_SERVICE_ACCOUNT_SETUP.md
  secrets.yml
Due: goimports, go-fmt, go-vet, go-build-check

remove old file
  deploy/secrets/create-firebase-service-account.sh
Due: none

finally fixed auth
  deploy/docker-compose-auth.sh
  deploy/shared-components/home-index-service/auth/middleware.go
  deploy/shared-components/home-index-service/main.go
  deploy/traefik/dynamic/routes.yml
  deploy/traefik/traefik.yml
  docker-compose.yml
Due: goimports, go-fmt, go-vet, go-build-check

fix sa permissions. prd tf deployments
  deploy/shared-components/home-index-service/auth/middleware.go
  deploy/shared-components/home-index-service/main.go
  deploy/terraform-home/PRODUCTION_DEPLOYMENT.md
  deploy/terraform-home/TERRAFORM_SCOPE.md
  deploy/terraform-home/cloud-run.tf
  deploy/terraform-home/iap.tf
  deploy/terraform-home/import-prd.sh
  deploy/terraform-home/outputs.tf
  deploy/terraform-home/remove-cloud-run-from-state.sh
  deploy/terraform-home/service-accounts.tf
  deploy/terraform-labs/TERRAFORM_SCOPE.md
  deploy/terraform-labs/cloud-run.tf
  deploy/terraform-labs/iap.tf
  deploy/terraform-labs/import-existing-resources.sh
  deploy/terraform-labs/import-prd.sh
  deploy/terraform-labs/outputs.tf
  deploy/terraform-labs/remove-cloud-run-from-state.sh
  deploy/terraform-labs/service-accounts.tf
  deploy/terraform-labs/traefik.tf
  deploy/traefik/README.md
  deploy/traefik/deploy.sh
  docs/AUTHENTICATION_ARCHITECTURE.md
  docs/DEPLOYMENT_FIXES_SUMMARY.md
  docs/FIREBASE_SERVICE_ACCOUNT_SETUP.md
Due: goimports, go-fmt, go-vet, go-build-check

Fix merge for skipped tests
  .cursorrules
  .github/workflows/test.yml
Due: none

fix routing
  .claude/settings.local.json
  .github/workflows/test.yml
  deploy/shared-components/home-index-service/deploy-stg.sh
  deploy/shared-components/home-index-service/main.go
  deploy/traefik/entrypoint.sh
  docs/STAGING.md
Due: goimports, go-fmt, go-vet, go-build-check

working auth local
  .docker-compose-alias.sh
  deploy/shared-components/home-index-service/.air.toml
  deploy/shared-components/home-index-service/Dockerfile.dev
  deploy/shared-components/home-index-service/auth/middleware.go
  deploy/shared-components/home-index-service/auth/token_test.go
  deploy/shared-components/home-index-service/entrypoint.dev.sh
  deploy/shared-components/home-index-service/main.go
  deploy/shared-components/home-index-service/test-token-extraction.sh
  deploy/traefik/test-stg-simulation.sh
  deploy/traefik/traefik.yml
  docker-compose.dev.yml
  docker-compose.local.sh
  docker-compose.yml
  docs/DEBUGGING_AUTHENTICATION.md
  docs/DEBUGGING_NEW_TAB_REQUESTS.md
  docs/DEVELOPMENT_HOT_RELOAD.md
  docs/TESTING_TROUBLESHOOTING.md
  labs/01-basic-magecart/malicious-code/c2-server/Dockerfile.dev
  labs/02-dom-skimming/vulnerable-site/banking-train.html
  labs/03-extension-hijacking/vulnerable-site/index-train.html
  labs/03-extension-hijacking/vulnerable-site/index.html
  test/test-dev-mounts.sh
Due: goimports, go-fmt, go-vet, go-build-check

fix lable format issues for cloud run
  .github/workflows/deploy_labs.yml
  deploy/traefik/generate-routes-from-labels.sh
Due: none

fix labels
  .github/workflows/deploy_labs.yml
  deploy/traefik/generate-routes-from-labels.sh
Due: none

fixed deployment
  .github/workflows/deploy_labs.yml
  deploy/shared-components/home-index-service/entrypoint.dev.sh
  deploy/shared-components/home-index-service/entrypoint.sh
  deploy/traefik/generate-routes-from-labels.sh
  docs/DOTENVX_KEY_FORMAT.md
  test-seo-deploy.sh
Due: none

add traefik deploy
  .github/workflows/deploy_labs.yml
Due: none

fix more labels
  .github/workflows/deploy_labs.yml
  deploy/traefik/generate-routes-from-labels.sh
  test-seo-deploy.sh
Due: none

fix traefik routing
  deploy/shared-components/home-index-service/deploy-stg.sh
  deploy/shared-components/home-index-service/main.go
Due: goimports, go-fmt, go-vet, go-build-check

stg routing
  .github/workflows/deploy_labs.yml
  deploy/shared-components/home-index-service/deploy-stg-simple.sh
  deploy/shared-components/home-index-service/main.go
  deploy/traefik/generate-routes-from-labels.sh
  labs/01-basic-magecart/vulnerable-site/nginx.conf
Due: goimports, go-fmt, go-vet, go-build-check

stg routing
  .github/workflows/deploy_labs.yml
  deploy/traefik/generate-routes-from-labels.sh
  labs/01-basic-magecart/vulnerable-site/index.html
  labs/02-dom-skimming/nginx.conf
  labs/02-dom-skimming/vulnerable-site/banking.html
  labs/03-extension-hijacking/nginx.conf
Due: none

fix stg routing
  .github/workflows/deploy_labs.yml
  deploy/shared-components/home-index-service/main.go
Due: goimports, go-fmt, go-vet, go-build-check

split c2 to own stg service
  .github/workflows/deploy_labs.yml
  .gitignore
  deploy/terraform-home/start-multi-service-proxy.sh
  deploy/traefik/SPLIT_C2_SERVICES_PLAN.md
  deploy/traefik/TEST-ROUTE-GENERATION.md
  deploy/traefik/TESTING.md
  deploy/traefik/entrypoint.sh
  deploy/traefik/fix-browser-auth.sh
  deploy/traefik/generate-routes-from-labels.sh
  deploy/traefik/test-entrypoint-simple.sh
  deploy/traefik/test-entrypoint.sh
  deploy/traefik/test-lab1-routing.sh
  deploy/traefik/test-label-generation.sh
  deploy/traefik/test-local.sh
  deploy/traefik/test-route-generation.sh
  deploy/traefik/test-stg-simulation.sh
  deploy/traefik/verify-and-fix-iam.sh
  deploy/traefik/verify_traefik_permissions.sh
  labs/01-basic-magecart/malicious-code/c2-server/Dockerfile
  labs/01-basic-magecart/malicious-code/c2-server/server.js
Due: none

Still not working service-to-service token passing
  .claude/settings.local.json
  .cursorrules
  .github/workflows/deploy_labs.yml
  deploy/SHARED_C2_AND_PROXY_FIX.md
  deploy/deploy-all-stg.sh
  deploy/shared-components/home-index-service/main.go
  deploy/shared-components/seo-service/Dockerfile
  deploy/terraform-home/iap.tf
  deploy/terraform-labs/traefik.tf
  deploy/traefik/APPLY_PERMISSIONS.sh
  deploy/traefik/CLOUDRUN_ADMIN_API_PERMISSIONS.md
  deploy/traefik/CRITICAL_FIX_NEEDED.md
  deploy/traefik/Dockerfile.cloudrun
  deploy/traefik/Dockerfile.test
  deploy/traefik/SECURE_ROUTE_GENERATION_OPTIONS.md
  deploy/traefik/cmd/generate-routes/build.sh
  deploy/traefik/cmd/generate-routes/go.mod
  deploy/traefik/cmd/generate-routes/go.sum
  deploy/traefik/cmd/generate-routes/main.go
  deploy/traefik/dynamic/routes.yml
  deploy/traefik/entrypoint.sh
  deploy/traefik/generate-routes-from-labels.sh
  deploy/traefik/refresh-routes.sh
  deploy/traefik/traefik.cloudrun.yml
  docs/CLOUD_RUN_SERVICE_TO_SERVICE_AUTH.md
  labs/02-dom-skimming/Dockerfile.c2
  labs/02-dom-skimming/malicious-code/c2-server.js
  labs/03-extension-hijacking/test-server/Dockerfile
Due: go-mod-tidy, goimports, go-fmt, go-vet, go-build-check
