Repository pci-tamper-protect/e-skimming-labs: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-fmt, go-vet

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

go-fmt:
  name: go fmt
  entry: go fmt
  language: system
  args:
  - ./...

go-vet:
  name: go vet
  entry: go vet
  language: system
  args:
  - ./...

fix group permissions
  deploy/terraform-home/cloud-run.tf
  deploy/terraform-home/domain-mapping.tf
  deploy/terraform-home/iam.tf
  deploy/terraform-home/iap.tf
  deploy/terraform-labs/cloud-run.tf
  deploy/terraform-labs/iam.tf
  deploy/terraform-labs/iap.tf
  deploy/terraform-labs/outputs.tf
Due: none

fix group permissions (#93)
  deploy/terraform-home/cloud-run.tf
  deploy/terraform-home/domain-mapping.tf
  deploy/terraform-home/iam.tf
  deploy/terraform-home/iap.tf
  deploy/terraform-labs/cloud-run.tf
  deploy/terraform-labs/iam.tf
  deploy/terraform-labs/iap.tf
  deploy/terraform-labs/outputs.tf
Due: none

Update seo for improved href tags etc
  catalog-info.yaml
  deploy/shared-components/seo-service/README.md
  deploy/shared-components/seo-service/main.go
Due: go-fmt, go-vet

Update deploy/shared-components/seo-service/main.go
  deploy/shared-components/seo-service/main.go
Due: go-fmt, go-vet

allow skipped jobs to be success
  .github/workflows/deploy_labs.yml
  .github/workflows/security-scan.yml
Due: none

copilot fixes
  .github/workflows/security-scan.yml
Due: none

allow skipped jobs to be success (#95)
  .github/workflows/deploy_labs.yml
  .github/workflows/security-scan.yml
Due: none

fix security scans
  .github/workflows/security-scan.yml
Due: none

Fix Lab 2 navigation for production environment
  test/e2e/global-navigation.spec.js
Due: none

Revert temporary Lab 2 navigation test modification; restoring original test behavior.
  test/e2e/global-navigation.spec.js
Due: none

Fix navigation links for Lab 2 and Lab 3 to point to correct entry files
  .dockerignore
  .github/workflows/deploy_labs.yml
  deploy/shared-components/home-index-service/main.go
Due: go-fmt, go-vet

Fix Lab 2 navigation for production environment (#97)
  .dockerignore
  .github/workflows/deploy_labs.yml
  deploy/shared-components/home-index-service/main.go
Due: go-fmt, go-vet

Fix production navigation for Lab 2 and Lab 3: C2, back, writeup, stolen creds buttons
  labs/02-dom-skimming/vulnerable-site/banking.html
  labs/03-extension-hijacking/vulnerable-site/index.html
Due: none

Fix notify-deployment
  .github/workflows/deploy_labs.yml
Due: none

Fix production navigation for Lab 2 and Lab 3: C2, back, writeup, stolen creds buttons (#104)
  .github/workflows/deploy_labs.yml
  labs/02-dom-skimming/vulnerable-site/banking.html
  labs/03-extension-hijacking/vulnerable-site/index.html
Due: none

fix catalog-info
  .env.hashes.prd
  .env.hashes.stg
  .env.prd
  .env.stg
  .github/workflows/security-scan.yml
  .gitignore
  catalog-info.yaml
  deploy/shared-components/home-index-service/auth/middleware.go
  deploy/shared-components/home-index-service/auth/validator.go
  deploy/shared-components/home-index-service/go.mod
  deploy/shared-components/home-index-service/go.sum
  deploy/shared-components/home-index-service/main.go
  docs/AUTHENTICATION_ANALYSIS.md
  docs/AUTHENTICATION_DEPLOYMENT.md
  docs/TRAEFIK_ROUTING_DESIGN.md
  scripts/generate-catalog-info.sh
  test/auth-integration.spec.js
  test/config/test-env.js
  test/e2e/auth-integration.spec.js
  test/e2e/auth-stg.spec.js
Due: go-mod-tidy, go-fmt, go-vet

merge 2
  .env.stg
  catalog-info.yaml
  deploy/shared-components/home-index-service/auth/validator.go
  deploy/shared-components/home-index-service/main.go
Due: go-fmt, go-vet

add github action
  .github/workflows/deploy_labs.yml
Due: none

add tests
  .env.hashes.prd
  .env.hashes.stg
  .env.prd
  .env.stg
  .gitignore
Due: none

copilot fixes
  test/auth-integration.spec.js
  test/e2e/auth-integration.spec.js
Due: none

linting
  catalog-info.yaml
  deploy/shared-components/home-index-service/auth/validator.go
Due: go-fmt, go-vet

add golangci.yml
  .golangci.yml
  .pre-commit-config.yaml
  docs/TRAEFIK_IMPLEMENTATION_PLAN.md
  docs/TRAEFIK_ROUTING_DESIGN.md
Due: none

Fix production navigation for Lab 2 and Lab 3: Correct hostname detection for Cloud Run services
  labs/02-dom-skimming/vulnerable-site/banking.html
  labs/03-extension-hijacking/vulnerable-site/index.html
Due: none

add support for dotenvx deployment
  .github/workflows/deploy_labs.yml
  deploy/README.md
  deploy/upload-dotenvx-key.sh
Due: none

.dockerignore .env.keys files
  .dockerignore
  deploy/README.md
  deploy/shared-components/dotenvx-startup.sh
  deploy/upload-dotenvx-key.sh
  labs/01-basic-magecart/.dockerignore
  labs/02-dom-skimming/.dockerignore
  labs/03-extension-hijacking/.dockerignore
Due: none

Path conditions:
  go-mod-tidy: any of: go\.mod$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
